        
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

    body {
        background-color: #131316;
        color: #FAF9F6;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 75px;
        margin-bottom: 0px;
    }

    p {
        margin-top: 10px;
        font-size: 50px;
        margin-bottom: 0px;
    }

    a {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 40px;
        color: white;
        text-decoration: none;


    }

    a:hover {
        color: yellow;
    }

    section {
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 100vh;
    }

    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1.5s;
        margin: 5px;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    .logos {
        display: flex;
    }

    .logo:nth-child(2) {
        transition-delay: 200ms;
    }

    .logo:nth-child(3) {
        transition-delay: 400ms;
    }

    .logo:nth-child(4) {
        transition-delay: 600ms;
    }

    .logo:nth-child(5) {
        transition-delay: 800ms;
    }

    .logo:nth-child(6) {
        transition-delay: 1000ms;
    }

    .visit {
        display: flex;
        justify-content: center;
        align-items: center;            
        height: 200px;
        width: 200px;
        margin-top: 0px;
        margin-bottom: 0px;

    }

    .icon {
        width: 64px;
        height: 64px;
    }


    button {
        background-color: yellow;
        font-family: 'Roboto Condensed', sans-serif;
        height: 45px;
        width: 120px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 10px;
        margin: 0px;
    }


    /*
    .circleLogo {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Condensed', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .circle {
        position: relative;
        width: 200px ;
        height: 200px;
        /*background: #ccc; 
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    

    .personLogo {
        position: absolute;
        width: 150px;
        height: 150px;
        background: url(https://d3ui957tjb5bqd.cloudfront.net/uploads/2016/11/Screen-Shot-2016-11-18-at-5.48.22-PM.jpg);
        background-size: cover;
        border-radius: 50%;
        filter: brightness(1.5) contrast(1.5); 

    }

    .text {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotateText 10s linear infinite;

    }

    @keyframes rotateText {
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    .text span {
        position: absolute;
        left: 50%;
        font-size: 1.2em;
        transform-origin: 0 100px;
    }

    */

    .trail { /* className for the trail elements */
        position: absolute;
        height: 6px; width: 6px;
        border-radius: 4px;
        background: yellow;
      }
