        
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

    body {
        /* background-image: linear-gradient(to right, #f5f5f5, #e0e0e0) ; */
        background: #f9f9f9;
        color: #333;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 0px;
    }

    p {
        margin-top: 10px;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 0px;
    }

    a {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 40px;
        color: white;
        text-decoration: none;


    }

    a:hover {
        color: navy;
    }

    section {
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 100vh;
    }

    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1.75s;
        margin: 5px;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    .logos {
        display: flex;
    }

    .logo:nth-child(2) {
        transition-delay: 150ms;
    }

    .logo:nth-child(3) {
        transition-delay: 300ms;
    }

    .logo:nth-child(4) {
        transition-delay: 450ms;
    }

    .logo:nth-child(5) {
        transition-delay: 600ms;
    }

    .logo:nth-child(6) {
        transition-delay: 750ms;
    }

    .logo:nth-child(7) {
        transition-delay: 900ms; 
    }

    .logo:nth-child(8) {
        transition-delay: 1050ms;
    }

    .visit {
        display: flex;
        justify-content: center;
        align-items: center;            
        height: 200px;
        width: 200px;
        margin-top: 0px;
        margin-bottom: 0px;

    }

    .icon {
        width: 64px;
        height: 64px;
    }

    .icon:hover {
        transform: scale(1.1);
    }


    button {
        background-color: navy;
        font-family: 'Roboto Condensed', sans-serif;
        height: 45px;
        width: 120px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 10px;
        margin: 0px;
    }

    @keyframes bounce {
        
        0%, 100% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(-10px);
        }
        50% {
            transform: translateY(0);
        }
        75% {
            transform: translateY(-10px);
        }
    }

    .typewriter {
        width: 24ch;
        animation: typing 4s steps(40, end), blink-caret .25s step-end infinite;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: monospace;
        font-size: 24px;
    }
    
    @keyframes typing {
        from { width: 0 }
        to { width: 40ch }
    }
    
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: black }
    }

    .bouncy-text {
        animation-name: bounce;
        animation-duration: 2.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite; /* Loop forever */
      }
      
    .trail { /* className for the trail elements */
        position: absolute;
        height: 6px; width: 6px;
        border-radius: 4px;
        background: #333;
      }

      #typing {
        font-size: 30px;
        white-space: nowrap;
        overflow: hidden;
    }
    .cursor {
        border-right: 3px solid black;
        padding-right: 5px;
        animation: blink 1s step-end infinite;
    }
    
    @keyframes blink {
        50% { border-color: transparent; }
    }
